@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET:M05</title>
</head>
<body>
    <h2>GET:M05</h2>
    <h2>@ViewBag.b</h2>
    <h2>@ViewBag.letters</h2>
</body>
</html>