@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ASP.NET MVC Application</title>
    <style>
        li {
            list-style-type: none;
        }

        ul {
            padding-left: 0;
        }
    </style>
</head>
<body>
    <h1>Status/Code</h1>
    <ul>
        <li><a href="https://localhost:7047/Status/S200">S200</a></li>
        <li><a href="https://localhost:7047/Status/S300">S300</a></li>
        <li><a href="https://localhost:7047/Status/S500">S500</a></li>
    </ul>
</body>
</html>
