@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ASP.NET MVC Application</title>
    <style>
        li {
            list-style-type: none;
        }

        ul {
            padding-left: 0;
        }
    </style>
</head>
<body>
    <h1>Start/Index</h1>
    <ul>
        <li><a href="https://localhost:7066/Start/One">One</a></li>
        <li><a href="https://localhost:7066/Start/Two">Two</a></li>
        <li><a href="https://localhost:7066/Start/Three">Three</a></li>
    </ul>
</body>
</html>
